@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Poppins',sans-serif;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(rgba(5,5,5,.88),rgba(5,5,5,.94)),
    url("../assets/images/bg.jpg");

    background-size:cover;
    background-position:center;
    background-attachment:fixed;

    color:white;

}

.container{

    width:100%;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:30px;

}

.card{

    width:430px;

    background:rgba(18,18,18,.88);

    backdrop-filter:blur(16px);

    border:1px solid rgba(255,255,255,.06);

    border-radius:22px;

    padding:45px;

    box-shadow:
    0 0 40px rgba(0,0,0,.65);

    animation:fade .8s ease;

}

h1{

    text-align:center;

    margin-bottom:35px;

    font-family:'Cinzel',serif;

    font-size:38px;

    color:#f0d58a;

    letter-spacing:2px;

}

input{

    width:100%;

    padding:16px;

    margin-bottom:20px;

    border-radius:12px;

    border:1px solid #2d2d2d;

    outline:none;

    background:#111;

    color:white;

    font-size:15px;

    transition:.3s;

}

input::placeholder{

    color:#8b8b8b;

}

input:focus{

    border-color:#8b1020;

    box-shadow:
    0 0 15px rgba(139,16,32,.35);

}

button{

    width:100%;

    padding:16px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    font-size:17px;

    font-weight:600;

    color:white;

    background:
    linear-gradient(135deg,#6b0f1a,#99162a);

    transition:.35s;

    margin-top:10px;

}

button:hover{

    transform:translateY(-3px);

    background:
    linear-gradient(135deg,#8b1020,#bf233d);

    box-shadow:
    0 10px 25px rgba(139,16,32,.45);

}

p{

    text-align:center;

    margin-top:28px;

    color:#bdbdbd;

}

a{

    color:#d4af37;

    text-decoration:none;

    font-weight:600;

    transition:.3s;

}

a:hover{

    color:white;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}

@media(max-width:768px){

.card{

width:95%;

padding:30px;

}

h1{

font-size:30px;

}

}